<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>To Do List</h1>
        <!-- Add Task -->
        <form action="/add" method="POST" class="add-form">
            <input type="text" name="task" placeholder="Enter task..." required maxlength="10" minlength="3">
            <button>Add</button>
        </form>
        <h2>Task List</h2>
            <% tasks.forEach(task=> { %>
            <div class="task">
                <!-- Checkbox -->
                <form action="/toggle/<%= task.id %>" method="POST">
                    <input type="checkbox" onchange="this.form.submit()" <%=task.completed ? "checked" : "" %>
                    >
                </form>
                <!-- Task Name -->
                <span class="<%= task.completed ? 'done' : '' %>">
                    <%= task.title %>
                </span>
                <!-- Edit -->
                <form action="/edit/<%= task.id %>" method="POST">
                    <input type="text" name="updatedTask" value="<%= task.title %>" required maxlength="10" minlength="3">
                    <button>Edit</button>
                </form>
                <!-- Delete -->
                <form action="/delete/<%= task.id %>" method="POST">
                    <button class="delete">Delete</button>
                </form>
            </div>
            <% }) %>
                <p>
                    Completed: <%= completed %> |
                        Uncompleted: <%= uncompleted %>
                </p>
    </div>
</body>
</html>